@import "tailwindcss";

@theme {
  
  /* colors */
  --dark-color: oklch(0.1543 0 0);
  --light-color: oklch(0.996 0.0196 106.75);
  --dark-blue: oklch(0.2042 0.0432 281.88);
  --marian-blue: oklch(0.3803 0.1386 258.03);

  /* custom-responsive */
  --breakpoint-xs: 12.5rem;
}

* {
  box-sizing: border-box;
}

@layer base {

  /* ==== fonts ==== */
  /* Boska */
  @font-face {
    font-family: "Boska";
    src: url("/my-portfolio/fonts/Boska/Boska-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  /* Fibonacci */
  @font-face {
    font-family: "Fibonacci";
    src: url("/my-portfolio/fonts/Fibonacci/fibonacci-italic.ttf")
      format("truetype");
    font-weight: 700;
    font-style: italic;
  }

  /* Smashe */
  @font-face {
    font-family: "Smashe";
    src: url("/my-portfolio/fonts/Smashe/smashe-bold.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
  }

  /* Outfit */
  @font-face {
    font-family: "Outfit";
    src: url("/my-portfolio/fonts/Outfit/Outfit-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Outfit";
    src: url("/my-portfolio/fonts/Outfit/Outfit-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
}

@layer components {

  /* ==== custom css ==== */
  ::-webkit-scrollbar {
    @apply w-[0.1rem] h-[.5rem];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[var(--dark-blue)];
  }
  *::selection {
    @apply bg-[var(--marian-blue)] text-[var(--light-color)];
  }

  .wrapper {
    @apply max-w-screen-xl my-5 mx-auto py-8 px-12;
  }

  .outlined-text {
    -webkit-text-stroke: 1px var(--light-color);
    color: transparent;
  }
  .medias {
    @apply xs:w-10 xs:h-10 md:w-12 md:h-12 flex items-center justify-center rounded-full p-1.5 cursor-pointer hover:transition-all duration-200 ease-in;
    fill: var(--light-color);
  }
}
